name: Mobile Release
on:
  push:
    tags:
      - 'v*'

jobs:
  android-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
        
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-linux-android armv7-linux-androideabi i686-linux-android x86_64-linux-android
          
      - name: Install dependencies
        run: pnpm install
        
      - name: Build Android APK
        run: pnpm -C apps/desktop tauri android build --target apk
        env:
           NDK_HOME: ${{ env.ANDROID_NDK_HOME }}
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-release-unsigned.apk
          path: apps/desktop/src-tauri/gen/android/app/build/outputs/apk/universal/release/app-universal-release-unsigned.apk
